*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Segoe UI';
width:auto;
background-image:url("background.jpg");
background-size:auto;
background-position:center;
background-repeat:no-repeat;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}
.dashboard{
display:flex;
width:900px;
background:white;
border-radius:10px;
overflow:hidden;
}

.left-panel{
width:300px;
padding:30px;
background:#f5f6fa;
}

.right-panel{
flex:1;
padding:30px;
}

.form-group{
margin-bottom:20px;
}

select{
width:100%;
padding:10px;
border-radius:5px;
}

#time{
margin:20px 0;
font-size:18px;
}

.weather-box{
background:#fff;
padding:15px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

.weather-box img{
width:80px;
}

.forecast-container{
display:flex;
gap:10px;
margin-top:20px;
}

.forecast-card{
background:#4e73df;
color:white;
padding:10px;
border-radius:8px;
text-align:center;
flex:1;
}